html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}
h1, h2, h3, p {
    margin: 0;
}

#grid-container {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 4fr;
}

#header {
    grid-row: 1;
    grid-column: 2 / -1;
    border: 1px solid black;
}

#sidebar {
    grid-row: 1 / -1;
    grid-column: 1;
    border: 1px solid black;

    display: grid;
    grid-template-rows: 1fr 4fr 4fr;
    grid-template-columns: 1fr;
}

#main-content {
    grid-area: 2 / 2;
}


/* Side bar */
.branding {
    grid-column: 1 / -1;
    grid-row: 1;
}

.links {
    grid-area: 2 / 1;
}
.info {
    grid-area: 3 / 1;
}

.option, .branding {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
}


/* Header */
#header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
}
.top {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
.search-box {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.side-search-box {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}
.bottom {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}
.profile-info {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}
.profile-info > img {
    grid-row: 1;
    grid-column: 1;
}
.profile-text {
    grid-column: 2;
}
.side-profile-btns {
    display: grid;
    grid-template: 1fr / repeat(3, 5rem);
    gap: 2rem;
    justify-content: center;
}
.btn {
    grid-row: 1;
    width: 5rem;
    padding: 4px 8px;
    border-radius: 4px;
}